* {
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    max-width: 960px;
    font-size: 18px;
    margin: auto;
    
}

header {
    background-color: #ebebeb;
    width: 100%;
    height: 60px;
    padding-top: 15px;

}

nav {
    background-color: #ebebeb;
    margin: 10px 0px 20px 0px;
    height: 60px;
    padding-top: 15px;

}

section {
    background-color: #ebebeb;
    width: 495px ;
    float: left;
    clear: both;
    margin-right: 20px;
    padding: 20px;
    height: 245px;
}

aside {
    
    background-color: #ebebeb;
    width: 445px ;
    margin: 10px, 0px, 10px, 0px;
    float: left;
    height: 245px;
}

article {
    background-color: #777;
    color: #ebebeb;
    padding: 10px;
}

p {
    background-color: #ebebeb;
    color: #777
}

h1 {
    background-color: #ebebeb;
    color: #777
}

footer {
    float: left;
    background-color: #ebebeb;
    width: 100%;
    height: 60px;
    padding-top: 15px;
    margin-top: 20px;
}